@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dom-color: #ffffff;
  --acc-color: #110000;
  --comp-color: #a10f0f;
}

@media (prefers-color-scheme: dark) {
  :root {
    --dom-color: #110000;
    --acc-color: #ffffff;
    --comp-color: #a10f0f;
  }
}

* {
  padding: 0;
  margin: 0;
}

body {
  color: var(--acc-color);
  background: var(--dom-color);
}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--dom-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--comp-color);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--acc-color);
}
